<nav class="navbar">
    <ul>
      <li><a routerLink="/parent" routerLinkActive="active">parent</a></li>
      <li><a routerLink="/component1" routerLinkActive="active">component1</a></li>
      <li><a routerLink="/business-card" routerLinkActive="active">business card</a></li>
      <li><a routerLink="/cv" routerLinkActive="active">CV</a></li>
      <li><a routerLink="/test-default-image" routerLinkActive="active">test default image</a></li>
      <li><a routerLink="/mini-word" routerLinkActive="active">mini word</a></li>
      <li><a routerLink="/authentification" routerLinkActive="active">authentification</a></li>
    </ul>
  </nav>
  