<div *ngIf="cv" class="cv-detail">
  <h1>CV {{ cv.name }} {{ cv.firstname }}</h1>
  <img [src]="cv.path" alt="avatar" class="avatar" />

  <div class="info-section">
    <h3>Informations</h3>
    <p><strong>Name:</strong> {{ cv.name }}</p>
    <p><strong>Firstname:</strong> {{ cv.firstname }}</p>
    <p><strong>Job:</strong> {{ cv.job }}</p>
    <p><strong>Age:</strong> {{ cv.age }}</p>
    <p><strong>CIN:</strong> {{ cv.cin }}</p>
  </div>

  <button class="btn btn-danger" (click)="deleteCv()">Supprimer</button>
</div>
