<div *ngIf="cv" class="cv-detail">
  <h1>CV {{ cv.nom }} {{ cv.prenom }}</h1>
  <img [src]="cv.image" alt="avatar" class="avatar" />

  <div class="info-section">
    <h3>Informations</h3>
    <p><strong>Name:</strong> {{ cv.nom }}</p>
    <p><strong>Firstname:</strong> {{ cv.prenom }}</p>
    <p><strong>Job:</strong> {{ cv.job }}</p>
    <p><strong>Description:</strong> {{ cv.description }}</p>
    <p><strong>Keywords:</strong> {{ cv.motsCle }}</p>
  </div>

  <button class="btn btn-danger" (click)="deleteCv()">Supprimer</button>
</div>
