<app-header></app-header>



<!--this is for the rainbow exercice -->
<!-- <input type="text" appRainbowTyping placeholder="Écris ici !" /> -->
 <!--<app-parent></app-parent>-->
 <!--<app-component1></app-component1>-->
<!--<app-business-card></app-business-card>-->
<!--<app-cv></app-cv> -->
<!--<app-test-default-image></app-test-default-image>-->
<!--<app-mini-word></app-mini-word>-->
<!--
    <app-images
    [images]="['assets/images/rotating_card_profile.png', 'assets/images/rotating_card_profile2.png', 'assets/images/rotating_card_profile3.png']"
    [intervalTime]="3000"
    [width]="400"
    [height]="300"
    altText="Carousel image"
    ></app-images>
-->


<!-- Zone pour afficher les composants liés aux routes -->
<router-outlet></router-outlet>